<!DOCTYPE html>
<html>

<head>

<title>Web RCON tool</title>
<link rel="icon" href= "{{ url_for('static', filename='images/favicon.ico') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/base.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/console.css') }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/console.js') }}"></script>

</head>

<body>

<div>
	<form name="connection">
		Host:     <input type="text" name="host" required>
		Port:     <input type="text" name="port" value="25575" required>
		Password: <input type="password" name="password" required>
	</form>
</div>

<div id="console">
	<div id="output"></div>
	<div id="input">
		<span class="prompt">&gt;</span>
		<textarea id="command-line" autofocus rows="1" placeholder="command input"></textarea>
	</div>
</div>


</body>
</html>
